
.loginContainer {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    height:100vh;
}

.loginForm {
    display: flex;
    flex-grow:0;
    align-items: center;
    justify-content: center;
    position: relative;
}

.buttonDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.errorDiv {
    display: inline;
}

.errorContainer {
    min-height: 53px;
}
